@page "/counter"

<h1>Nuevo Registro</h1>
<div>
    <form action="/" method="post">
        <p>Ingrese un producto para realizar una nueva transaccion.</p>
        <label for="cantidad">Ingrese la cantidad</label>
        <input type="number" name="cantidad" value="" placeholder="Cantidad"/>
        <input type="text" name="vendedor" value="" placeholder="Nombre del vendedor" />
    </form>
</div>
